@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* This tells Tailwind v4 how to handle the .dark class */
@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}